body {
	/*background-color: #00061c;*/
	background-color: #a6bac6;
	background-image: linear-gradient(0deg, #6d9356 15%, #eef4ff 25%);
	font-family: 'Roboto', sans-serif;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	margin-bottom: 100px;
	overflow: scroll;
}

.slds-brand-band{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  position:relative;
  height:100%;
  width:100%;
}
.slds-brand-band:before{
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-image:url("/static/assets/images/themes/oneSalesforce/banner-brand-default.png"), -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(1, 68, 134, 0)), to(#014486));
  background-image:url("/static/assets/images/themes/oneSalesforce/banner-brand-default.png"), linear-gradient(to top, rgba(1, 68, 134, 0) 0, #014486);
  background-repeat:repeat-x;
  background-position:top left;
  min-width: 350px;
}
.slds-brand-band:after{
  content:none;
  display:block;
  position:absolute;
  z-index:-1;
  left:0;
  right:0;
  top:0;
  width:100%;
  height:3.125rem;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(176, 196, 223, 0)), to(#eef4ff));
  background-image:linear-gradient(to bottom, rgba(176, 196, 223, 0) 60%, #eef4ff);
}
.slds-brand-band.slds-brand-band_cover:before{
  background-repeat:no-repeat;
  background-size:cover;
}
.slds-brand-band.slds-brand-band_small:before{
  height:6rem;
}
.slds-brand-band.slds-brand-band_small:after{
  content:"";
  top:2.875rem;
}
.slds-brand-band.slds-brand-band_medium:before{
  height:12.5rem;
}
.slds-brand-band.slds-brand-band_medium:after{
  content:"";
  top:9.375rem;
}
.slds-brand-band.slds-brand-band_large:before{
  height:18.75rem;
}
.slds-brand-band.slds-brand-band_large:after{
  content:"";
  top:15.625rem;
}
.slds-brand-band.slds-brand-band_full:before{
  height:100%;
}
.slds-brand-band.slds-brand-band_bottom:before{
  background-position:bottom;
  top:initial;
}
.slds-brand-band.slds-brand-band_none:before{
  height:0;
}
.slds-brand-band.slds-brand-band_group:before{
  background-image:url("/static/assets/images/themes/oneSalesforce/banner-group-public-default.png");
}
.slds-brand-band.slds-brand-band_user:before{
  background-image:url("/static/assets/images/themes/oneSalesforce/banner-user-default.png");
}
.slds-brand-band .slds-brand-band_blank{
  background:white;
}
.slds-brand-band .slds-brand-band_blank:before, .slds-brand-band .slds-brand-band_blank:after{
  background:none;
}

.slds-template__container{
  position:relative;
  height:100%;
  width:100%;
}

.slds-template_default{
  padding:0.75rem;
}
.slds-template_default.slds-brand-band:before{
  position:fixed;
  top:5.625rem;
}
.slds-template_default.slds-brand-band.slds-brand-band_medium:after{
  position:fixed;
  top:15rem;
}
.base-bg-grass {
  height: 100%;
  width: 100%;
  bottom: -10;
  position: absolute;
  background-image:url("/static/recipe-header-hill.png");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.jumbotron {
	background-color: rgba(219, 232, 255, 0.8);
	padding: 30px;
	border-radius: 2%;
}

.login {
	background-color: rgba(250, 243, 243, 0.3);
	color: black;
	vertical-align: center;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-shadow: 3px 3px 3px 3px #aaaaaa;
	width: 40%;
	min-width: fit-content;
	min-height: fit-content;
	align-items: center;
}

.bg-light {
	border-radius: 10px;
	background-color: rgba(219, 232, 255, 0.8	)!important;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.1);

}

.bg-card {
	border-radius: 10px;
	background-color: rgba(219, 232, 255, 0.5)!important;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
}

.login-input{
	width: clamp(6rem, 12rem, 15rem);
	margin: auto;
	transition: .3s ease-out;
	border-color: black;
	background-color: rgba(250, 243, 243, 0.3);
}

.tab-content {
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: rgba(238,244,255, 0.8	)!important;
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
	padding-bottom: 20px;
}

.accordion-item {
	background-color: rgba(238,244,255, 0.1	);
}

.accordion-button {
	background-color: rgba(219, 232, 255, 0.8)!important;

}

.accordion-button:not(.collapsed) {
		background-color: rgba(238,244,255, 0.8	)!important;
		color: black;
}

.accordion-body {
	background-color: rgba(219, 232, 255, 0.5)!important;
}

.login-input::placeholder {
	text-align: center;
}

.login-input:hover {
	background-color: black;
	color: white;
}

.login-input:focus {
	background-color: black;
	color: white;
}

.title {
	padding: 1%;
	vertical-align: center;
	text-align: center;
}

.home-content {
	vertical-align: center;
	text-align: center;
}

.alert {
	text-align: center;
	margin: 0px;
	width: fit-content;
}

h1 {
  font-size: 3.0vmax;
}


.register {
	max-width: 500px;
	margin: auto;
}

.reg_page {
	background-color: rgba(238,244,255, 0.8	)!important;
	margin: auto;
	margin-top: 5%;
	min-width: 350px;
	border-radius: 4px;
}

.access_page {
	margin: auto;
	margin-top: 5%;
	min-width: 350px;
	border-radius: 4px;
}

.wel_page {
	margin: auto;
	margin-top: 5%;
	min-width: 350px;
	border-radius: 4px;
}

.navbar {
	min-width: 350px;
	margin: 0.3%;
	}


.navbar-toggler {
	font-size: clamp(0.95rem, 2.5vw, 1.25rem);
}

.navbar-brand {
    font-size: clamp(1.10rem, 2.0vw, 1.25rem);
}

.nav-link:focus {
	color: black;
}

.fa {
	text-decoration: none;
}

.fa-power-off {
	color: #154e8d;
	padding: 0px;
	margin-right: 1rem;
}

.fa-power-off:hover {
  	color: rgba(255, 91, 88, 1);
  	text-shadow: 0 5px 15px rgba(255, 91, 88, 1);
}

.fas{
	transition: .3s ease-out;
	font-size: 1.2rem;
}

.fas:hover {
	text-shadow: 0 5px 15px rgba(61, 91, 110, .4);
}

.fa-eye{
	transition: .3s ease-out;
	color: black;
}

.fa-eye:hover {
	text-shadow: 15px 1px 15px rgba(61, 91, 110, .9);
	color: #006580;
}

.currentuser {
		color: black;
}

.currentuser:hover {
	color: black;
	text-shadow: 0 2px 2px rgba(61, 91, 110, .4);
}

.nh-name {
}

.summary {
	border: solid;
}

.table-custom tr td:nth-child(1){
	text-align: left;
	font-size: 0.9rem;
}

.table-custom tr td:nth-child(2){
	width: fit-content;
	margin-right: 0;
	padding-right: 0;
	text-align: left; 
	font-size: clamp(0.8rem, 0.9rem, 1.5rem);
}

.user_table {
	margin: 5px;
	overflow: auto;
	padding: 10px;
	min-width: 30px;
}

tr:hover {
	border-radius: 4px;
}

.thead {
	background-color: #A7BBC7;
}

th {
	font-weight: bold;
}

.overlay {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.text{
  text-align: center;
  vertical-align: middle;
  font-size: clamp(0.8rem, 0.9rem, 1.5rem);
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(110, 110, 110, 0.3);
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid #506D84;
  border-radius: 10px;
  animation: loader 2s infinite ease;
  padding: 3px;

}

.loader-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 400;
	animation: loader-text 2s infinite ease-in;
	}

.loader-inner {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  background-color: #506D84;
  border-radius: 15px;
  animation: loader-inner 2s infinite ease-in;
  height: 100%;
}


@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { background-color: #506D84; opacity: 0;}
  20% { background-color: #506D84; opacity: 0;}
  40% { background-color: #506D84; opacity: 1;}
  60% { background-color: #506D84; opacity: 1;}
  80% { background-color: #506D84; opacity: 1;}
  100% { background-color: #506D84; opacity: 0;}
}

@keyframes loader-text {
  0% { color: #506D84;}
  20% { color: #506D84;}
  40% { color: #A7BBC7;}
  60% { color: #A7BBC7;}
  80% { color: #A7BBC7;}
  100% { color: #506D84;}
}

.prof_page {
	margin: auto;
	margin-top: 5%;
	min-width: fit-content;
	max-width: 50rem;
}

.prof_table {
	vertical-align: middle;
}

.form-control-plaintext {
	border-radius: 2pt;
	width: clamp(6rem, 12rem, 15rem);
	padding: 2px;
	transition: .09s;
}

.form-control-plaintext:focus {
	outline: solid;
	outline-width: 2px;
	outline-color: rgba(167, 187, 199);
	box-shadow: 0 0 3pt 2pt rgba(167, 187, 199, .7);
}

.submit, #edit {
	width: 10rem;
}

.btn-colour {
	background-color: rgba(167, 187, 199, 0.6);
	transition: 0.3s ease-out;
}

.countup {
  text-align: center;
  margin-bottom: 20px;
}

.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: #e8c152;
  color: black;
}

.btn-colour:hover {
	background-color: rgba(134, 163, 181, 1.0);
	box-shadow: 0 2px 5px rgba(61, 91, 110, .4);
}

.toast-bg {
	background-color: rgba(167, 187, 199, 0.4);
}

.days_total {
	transform: rotate(180deg);
}

.week-col {
	max-width: 30px;
}

.home-bg {
	background-color: rgba(238,244,255, 0.7);
	border-radius: 8px;
	margin: 5px;
	overflow: auto;
	padding: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
} 



.container-md {
	min-width: 350px;
}

.form-check-input:checked {
	background-color: green;
	border-color: green;
}

.form-check-input:focus {
	outline-color: green;
	border-color: green;
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);
	box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25);

}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.progress-bar {
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.back-blur {
	height: 100%;
	background-image: url("");
	filter: blur(15px);
}

.carousel-item-shape {
	height: 200px;
	background-color: rgba(166, 186, 198, 0.1);
}

.vertical {
    border-left: 6px solid black;
    height: 200px;
    position:absolute;
    left: 50%;
}

.acc_update {
		margin-bottom: 10px;
}

.acc_update:hover {
	box-shadow: 0 2px 5px rgba(61, 91, 110, .4);
}

.modal-xl {
	max-width: 1300px;
}

.clickable-row:hover { cursor: pointer; }

input[type="date"]::before { 
	content: attr(data-placeholder);
	width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.datepicker {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 150px;
}


