{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
     dl
     {
         width: 200px;
         background: #fff;
         border: 1px solid #000;
         padding: 5px 15px;
      }

      dt, dd
      {
         display: inline;
      }       
</style>

	<div class="container-md access_page">

		<nav>
		  <div class="nav nav-tabs" id="nav-tab" role="tablist">
		    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">&nbsp; <label>Start Here</label> &nbsp;<i class="fab fa-get-pocket"></i></button>
		    {% if user.profile.role == "MANAGER" or user.is_superuser %}
		    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">+</button>
			{% endif %}
		  </div>
		</nav>
		<div class="tab-content" id="nav-tabContent" style="background-image: url({% static 'overview.png' %}); background-size: 50%; background-repeat:no-repeat; background-position: center;">
			{% if user.profile.role == "NEW_HIRE" %}
			<div style="padding: 25px; padding-top: 20px;">
				<small class="text-muted">Progress</small>
				<div class="progress center-block" >
				  <div class="progress-bar progress-bar-striped bg-success approved" role="progressbar" style="width: 0%;"  aria-valuemin="0" aria-valuemax="100">
				  </div>
				  <div class="progress-bar progress-bar-striped bg-warning requested" role="progressbar" style="width: 0%;"aria-valuemin="0" aria-valuemax="100">
				  </div>
				</div>
			</div>
			{% endif %}
			
		  	<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" >
		  		{% if not tabs %}
		  		<hr>
		  	    <div class="container-md">
		  	    	<center><h5>Nothing here yet!</h5></center>
		  	    </div>
		  	    <hr>
		  		{% else %}
		  		{% for tab in tabs %}
		  		<div class="accordion" id="accordionPanelsStayOpenExample" >
		  		  <div class="accordion-item">
		  		    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
		  		      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-{{ tab.name }}" aria-expanded="true" aria-controls="panelsStayOpen-{{ tab.name }}" style="clear: both;">
		  		        {{ tab.name }} &nbsp;
		  		        {% if user.profile.role == "NEW_HIRE" %}
		  		        <label class="text-muted">[Approved - {{tab.approved}}/{{tab.item_count}}]</label>
		  		        {% else %}
		  		        <br>
		  		        {% endif %}
		  		      </button>
		  		    </h2>
		  		    <div id="panelsStayOpen-{{ tab.name }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
		  		      <div class="accordion-body">
		  		        
		  		      	<table class="table table-sm table-responsive table-hover" style="vertical-align: middle; margin-bottom: 0px;">
		  		      	  <tbody>
		  		  			{% for item in items %}
		  		  			{% if user.profile.role == "MANAGER" or user.is_superuser or user.profile.role == "ENGINEER" %}
		  		  			{% if item.access_section.name == tab.name %}
		  		      	    <tr>
	  		      	          <td><small class="text-muted">{{ item.name }}</small></td>
	  		      	        </tr>
	  		      	        {% endif %}
		  		  			{% else %}
		  		  			{% if item.newhire_access_section.name == tab.name %}
		  		      	    <tr>
	  		      	          <td><small class="text-muted">{{ item.name }}</small></td>
	  		      	          <td class="col-sm-2">
	  		      	          	<select class="form-select form-select-sm form-select-1" aria-label="Default select example">
	  		      	          		<option value="" selected disabled hidden>{{ item.status }}</option>
	  		      	          		<option value="1">Not Requested</option>
	  		      	          	  	<option value="2">Requested</option>
	  		      	          	  	<option value="3">Approved</option>
	  		      	          	</select>
	  		      	          </td>
	  		      	        </tr>
	  		      	        {% endif %}
	  		      	        {% endif %}
	  		      	  		{% endfor %}
		  		      	    </tbody>
		  		      	</table>
		  		      </div>
		  		    </div>
		  		  </div>
		  		</div>
		  		{% endfor %}
		  		{% endif %}
			</div>
		    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
		  		<br>
		  	 	<div class="container-md mb-3">
				  	<form id="access_tab" method="POST">
			  		  	<h5 for="formGroupExampleInput" class="form-label">Add Access Section</h5>
			  		  	<div class="input-group mb-3">
	    	  		  		<input type="number" id='tab_id' class="form-control" id="formGroupExampleInput" placeholder="Id" style="max-width: 10%">
				  			<input type="text" id='tab_name' class="form-control" id="formGroupExampleInput" placeholder="Name">
				  			<input type="submit" class="btn btn-outline-secondary" value="Add" style="width: 20%;">
				  		</div>
			  		  <br>
			  		</form>
			  		{% if tabs %}

				  	<h5 for="formGroupExampleInput" class="form-label">Delete Access Section</h5>
			  		<form id='del_tab'>
		  				<div class="input-group">
		  					<select class="form-select" id="tab_del">
		  				    <option  value="" selected disabled hidden>Choose...</option>
		  				    {% for tab in tabs %}
		  				    <option value="{{tab.name}}">{{tab.name}}</option>
		  				    {% endfor %}
		  				    </select>
		  				    <input type="submit" class="btn btn-outline-secondary" value="Delete" style="width: 20%;">
		  			   </div>
			  		</form>
		  		</div>
			  	<br>
			  	<div class="container-md mb-3">
				  	<form id="add_access_item" method="POST">
			  		  	<h5 for="formGroupExampleInput" class="form-label">Add Item</h5>
			  		  	<div class="input-group mb-3">
		  		  			<select class="form-select" id="item_section_add">
		  		  		    <option  value="" selected disabled hidden>Choose...</option>
		  		  		    {% for tab in tabs %}
		  		  		    <option value="{{tab.name}}">{{tab.name}}</option>
		  		  		    {% endfor %}
		  		  		    </select>
	    	  		  		<input type="number" id='item_id' class="form-control" id="formGroupExampleInput" placeholder="Id" style="max-width: 10%">
				  			<input type="text" id='item_name' class="form-control" id="formGroupExampleInput" placeholder="Name">
				  			<input type="submit" class="btn btn-outline-secondary" value="Add" style="width: 20%;">
				  		</div>
			  		  <br>
			  		</form>
				  	<h5 for="formGroupExampleInput" class="form-label">Delete Item</h5>
			  		<form id='del_access_item'>
		  				<div class="input-group">
		  					<select class="form-select" id="item_section_del">
		  				    <option  value="" selected disabled hidden>Choose...</option>
		  				    {% for tab in tabs %}
		  				    <option value="{{tab.name}}">{{tab.name}}</option>
		  				    {% endfor %}
		  				    </select>
	  				    	<select class="form-select" id="item_del">
	  				        <option  value="" selected disabled hidden>Choose...</option>
	  				        </select>
		  				    <input type="submit" class="btn btn-outline-secondary" value="Delete" style="width: 20%;">
		  			   </div>
			  		</form>
					{% endif %}
				</div>
		    </div>
		    <small class="text-muted">Please do not use special characters and spaces.</small>
		</div>

	</div>
	<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
	    <div class="toast border-0 position-absolute top-0 toast-bg" data-bs-delay="1500" role="alert" aria-live="assertive" aria-atomic="true" style="opacity: 1 !important;">
		    <div class="d-flex">
			    <div class="toast-body">
			      
			    </div>
		    	<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		    </div>
	    </div>
	</div>
	<script type="text/javascript">
		
		$(document).ready(function function_name() {
			$('#access_tab').submit(function(e) {
				e.preventDefault();

				$.ajax({
					type: 'POST',
					url: 'access_tab/',
					data: {
						name: $('#tab_name').val(),
						tab_id: $('#tab_id').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function() {
						$('.modal').find('form').trigger('reset');
						$('.modal').modal('hide');
						$('div.toast-body').text('Tab added successfully!');
						var toastElList = [].slice.call(document.querySelectorAll('.toast'))
						var toastList = toastElList.map(function (toastEl) {
							return new bootstrap.Toast(toastEl)
						});
						toastList.forEach(toast => toast.show());
						setTimeout(function() {window.location.reload()}, 900);
					},
					error: function() {
						alert('Adding tab failed!')
					}
				})
			});

			$('#del_tab').submit(function(e) {
				e.preventDefault();

				$.ajax({
					type: 'POST',
					url: 'del_tab/',
					data: {
						name: $('#tab_del').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function() {
						$('.modal').find('form').trigger('reset');
						$('.modal').modal('hide');
						$('div.toast-body').text('Tab deleted successfully!');
						var toastElList = [].slice.call(document.querySelectorAll('.toast'))
						var toastList = toastElList.map(function (toastEl) {
							return new bootstrap.Toast(toastEl)
						});
						toastList.forEach(toast => toast.show());
						setTimeout(function() {window.location.reload()}, 900);
					},
					error: function() {
						alert('Delete tab failed!')
					}
				})
			});

			$('#add_access_item').submit(function(e) {
				e.preventDefault();

				$.ajax({
					type:'POST',
					url: 'add_item/',
					data: {
						section: $('#item_section_add').val(),
						item_id: $('#item_id').val(),
						name: $('#item_name').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function() {
						$('.modal').find('form').trigger('reset');
						$('.modal').modal('hide');
						$('div.toast-body').text('Added Item successfully!');
						var toastElList = [].slice.call(document.querySelectorAll('.toast'))
						var toastList = toastElList.map(function (toastEl) {
							return new bootstrap.Toast(toastEl)
						});
						toastList.forEach(toast => toast.show());
						setTimeout(function() {window.location.reload()}, 900);
					},
					error: function() {
						alert('Adding Item failed!')
					}
				})

			});

			$('#del_access_item').submit(function(e) {
				e.preventDefault();

				$.ajax({
					type:'POST',
					url: 'del_item/',
					data: {
						section: $('#item_section_del').val(),
						name: $('#item_del').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function() {
						$('.modal').find('form').trigger('reset');
						$('.modal').modal('hide');
						$('div.toast-body').text('Deleted Item successfully!');
						var toastElList = [].slice.call(document.querySelectorAll('.toast'))
						var toastList = toastElList.map(function (toastEl) {
							return new bootstrap.Toast(toastEl)
						});
						toastList.forEach(toast => toast.show());
						setTimeout(function() {window.location.reload()}, 900);
					},
					error: function() {
						alert('Deleting Item failed!')
					}
				})

			});

			$('#item_section_del').change(function(e) {
				e.preventDefault();
				var optionSelected = $(this).find("option:selected");
				var valueSelected  = optionSelected.val();
				var section_name   = optionSelected.text();
				$.ajax({
					url: 'get_items/',
					data: {
						name: section_name,
					},
					success: function(result) {
						$("#item_del option").remove();
						if (result.length != 0) {
							for (var i = 0; i <= result.length - 1; i++) {
							    $("#item_del").append('<option>'+ result[i].name +'</option>');
							};
						}
					}
				});
			})

			$(".form-select-1").on("change", function(e) {

				e.preventDefault();
				var row = $(this).closest("tr");

				$.ajax({
					type:'POST',
					url:'access_req_update/',
					data: {
						name: row.find("td:eq(0)").text(),
						value: row.find("td:eq(1) option:selected").text(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function(){
						$('div.toast-body').text('Progress updated!');
						var toastElList = [].slice.call(document.querySelectorAll('.toast'))
						var toastList = toastElList.map(function (toastEl) {
						return new bootstrap.Toast(toastEl)
						});
						toastList.forEach(toast => toast.show());
						setTimeout(function() {window.location.reload()}, 900);
					}
				});
			});

			var approved_progress = ({{approved}}*100/{{total}}).toPrecision(4);
			$('.approved').css('width', approved_progress+'%').text("Approved - " + {{approved}}+'/'+{{total}} + " (" + approved_progress + "%)");
			var requested_progress = ({{requested}}*100/{{total}}).toPrecision(4);
			$('.requested').css('width', requested_progress+'%').text("Requested - " + {{requested}}+'/'+{{total}} + " (" + requested_progress + "%)");
			var total_prog = Number(approved_progress) + Number(requested_progress);
			$('.prog-perc').text( total_prog + "%");

			
		})



	</script>


{% endblock %}