{% extends 'base.html' %}
{% load markdown_extras %}

{% block content %}

				<i class="fas fa-solid fa-angles-down"></i>

<div id="weekstable" class="container-md reg_page" style="display: solid;">
	<div class="row border" style="padding: 10px;">
		<div class="col border border-dark user_table" >
			<div style="">
				<div class="row">
					<div class="col">
						<h5>Audit Logs</h5>
					</div>
				</div>
				<hr style="margin-top:2px">
				<div class="input-group mb-3">
				  <span class="input-group-text">
				  	<input type="date" data-placeholder="Date of birth" placeholder="Date" class="datepicker" id="from-date" name="audit-datepicker1"></span>
				  	<span class="input-group-text">
					<input type="date" class="datepicker" id="to-date" name="audit-datepicker2"></span>
				  <input type="text" class="form-control audit-search" id="search-text" aria-describedby="basic-addon3" placeholder="Search input">
				  <button class="btn btn-outline-secondary" id="search" type="button">Search</button>
				</div>
			</div>
			
			<hr>
			<div class="overflow-auto" id="results" style="max-height: 50vh;">
				 <table class="table table-hover table-responsive">
				<thead class="thead">
					<tr>
						<th scope="col" style="width: 20%;">When</th>
						<th scope="col">Who</th>
						<th scope="col">What</th>
					</tr>
				</thead>
				<tbody>
					{% for audit in audit %}
					<tr>
						<td  style="width: 20%;">{{ audit.timestamp | date:"M d, Y H:i:s"}} UTC</td>
						<td>{{ audit.user | convert_markdown | safe}}</td>
						<td>{{ audit.action | convert_markdown | safe}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			
		</div>
	</div>

</div>



<div class="container-md reg_page">
	<div class="row border"  style="padding: 10px;">
		<div class="col border border-dark user_table">
			<center>
				<i class="fa-solid fa-angles-down"></i>
				<h4 id="scrolltext"></h4>
				<i class="fa-solid fa-angles-down"></i>
			</center>	
		</div>
	</div>
</div>


<div class="container-md reg_page timezone">
	<div class="row border" style="padding: 10px;">
		<div class="col border border-dark user_table" >
			<div style="">
				<div class="row">
					<div class="col">
						<h5>Time Zones</h5>
					</div>
				</div>
				<hr style="margin-top:2px">
			</div>
			<div id="results" style="max-height: 50vh; overflow: scroll;">
				<table class="table table-hover table-responsive">
					<thead valign="bottom">
						<tr>
							<th>Abbreviation</th>
							<th>Name</th>
							<th>Relative to UTC</th>
						</tr>
					</thead>
					<tbody valign="top">
						<tr>
							<td >UTC</td>
							<td >Universal Coordinated Time</td>
							<td >UTC</td>
						</tr>
						<tr>
							<td >GMT</td>
							<td >Greenwich Mean Time</td>
							<td >UTC</td>
						</tr>
						<tr>
							<td >ECT</td>
							<td >European Central Time</td>
							<td >UTC+1:00</td>
						</tr>
						<tr>
							<td >EET</td>
							<td >Eastern European Time</td>
							<td >UTC+2:00</td>
						</tr>
						<tr>
							<td >ART</td>
							<td >(Arabic) Egypt Standard Time</td>
							<td >UTC+2:00</td>
						</tr>
						<tr>
							<td >EAT</td>
							<td >Eastern African Time</td>
							<td >UTC+3:00</td>
						</tr>
						<tr>
						<td >MET</td>
						<td >Middle East Time</td>
						<td >UTC+3:30</td>
						</tr>
						<tr>
						<td >NET</td>
						<td >Near East Time</td>
						<td >UTC+4:00</td>
						</tr>
						<tr>
						<td >PLT</td>
						<td >Pakistan Lahore Time</td>
						<td >UTC+5:00</td>
						</tr>
						<tr>
						<td >IST</td>
						<td >India Standard Time</td>
						<td >UTC+5:30</td>
						</tr>
						<tr>
						<td >BST</td>
						<td >Bangladesh Standard Time</td>
						<td >UTC+6:00</td>
						</tr>
						<tr>
						<td >VST</td>
						<td >Vietnam Standard Time</td>
						<td >UTC+7:00</td>
						</tr>
						<tr>
						<td >CTT</td>
						<td >China Taiwan Time</td>
						<td >UTC+8:00</td>
						</tr>
						<tr>
						<td >JST</td>
						<td >Japan Standard Time</td>
						<td >UTC+9:00</td>
						</tr>
						<tr>
						<td >ACT</td>
						<td >Australia Central Time</td>
						<td >UTC+9:30</td>
						</tr>
						<tr>
						<td >AET</td>
						<td >Australia Eastern Time</td>
						<td >UTC+10:00</td>
						</tr>
						<tr>
						<td >SST</td>
						<td >Solomon Standard Time</td>
						<td >UTC+11:00</td>
						</tr>
						<tr>
						<td >NST</td>
						<td >New Zealand Standard Time</td>
						<td >UTC+12:00</td>
						</tr>
						<tr>
						<td >MIT</td>
						<td >Midway Islands Time</td>
						<td >UTC-11:00</td>
						</tr>
						<tr>
						<td >HST</td>
						<td >Hawaii Standard Time</td>
						<td >UTC-10:00</td>
						</tr>
						<tr>
						<td >AST</td>
						<td >Alaska Standard Time</td>
						<td >UTC-9:00</td>
						</tr>
						<tr>
						<td >PST</td>
						<td >Pacific Standard Time</td>
						<td >UTC-8:00</td>
						</tr>
						<tr>
						<td >PNT</td>
						<td >Phoenix Standard Time</td>
						<td >UTC-7:00</td>
						</tr>
						<tr>
						<td >MST</td>
						<td >Mountain Standard Time</td>
						<td >UTC-7:00</td>
						</tr>
						<tr>
						<td >CST</td>
						<td >Central Standard Time</td>
						<td >UTC-6:00</td>
						</tr>
						<tr>
						<td >EST</td>
						<td >Eastern Standard Time</td>
						<td >UTC-5:00</td>
						</tr>
						<tr>
						<td >IET</td>
						<td >Indiana Eastern Standard Time</td>
						<td >UTC-5:00</td>
						</tr>
						<tr>
						<td >PRT</td>
						<td >Puerto Rico and US Virgin Islands Time</td>
						<td >UTC-4:00</td>
						</tr>
						<tr>
						<td >CNT</td>
						<td >Canada Newfoundland Time</td>
						<td >UTC-3:30</td>
						</tr>
						<tr>
						<td >AGT</td>
						<td >Argentina Standard Time</td>
						<td >UTC-3:00</td>
						</tr>
						<tr>
						<td >BET</td>
						<td >Brazil Eastern Time</td>
						<td >UTC-3:00</td>
						</tr>
						<tr>
						<td >CAT</td>
						<td >Central African Time</td>
						<td >UTC-1:00</td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function(){

		$('#scrolltext').html('Time Zones');
		
		$(window).scroll(function () {

        	if ($(this).scrollTop() > 100) { 
         		$('#scrolltext').html('Audit Logs');
     		} else {
        		$('#scrolltext').html('Time Zones');
        }
    });

	})
	$('#search').on('click', function(e) {
		e.preventDefault();
		console.log($('#from-date').val())
		$.ajax({
			type: 'POST',
			url: '/audit/',
			data: {
				from: $('#from-date').val(),
				to: $('#to-date').val(),
				search: $('#search-text').val(),
				csrfmiddlewaretoken: '{{csrf_token}}',
			},
			success: function(data) {
				$('#results').html(data);
			}
		})
	})
</script>

{% endblock %}