{% extends 'base.html' %}
{% load markdown_extras %}

{% block content %}

<div id="weekstable" class="container-md reg_page" style="display: solid;">
	<div class="row border" style="padding: 10px;">
		<div class="col border border-dark user_table">
			<div class="row">
				<div class="col">
					<h5>Audit Logs</h5>
				</div>
			</div>
			<hr style="margin-top:2px">
			<div class="input-group mb-3">
			  <span class="input-group-text">
			  	<input type="date" data-placeholder="Date of birth" placeholder="Date" class="datepicker" id="birthday" name="audit-datepicker1"></span>
			  	<span class="input-group-text">
				<input type="date" class="datepicker" id="birthday" name="audit-datepicker2"></span>
			  <input type="text" class="form-control audit-search" id="basic-url" aria-describedby="basic-addon3" placeholder="Search input">
			  <button class="btn btn-outline-secondary" type="button">Search</button>
			</div>
			<hr>
			<table class="table table-hover table-responsive week_t" >
				<thead class="thead">
					<tr>
						<th scope="col">When</th>
						<th scope="col">Who</th>
						<th scope="col">What</th>
					</tr>
				</thead>
				<tbody>
					{% for audit in audit %}
					<tr>
						<td>{{ audit.timestamp}}</td>
						<td>{{ audit.user | convert_markdown | safe}}</td>
						<td>{{ audit.action | convert_markdown | safe}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


{% endblock %}