{% extends 'base.html' %}
{% load markdown_extras %}

{% block content %}

<div id="weekstable" class="container-md reg_page" style="display: solid; ">
	<div class="row border" style="padding: 10px;">
		<div class="col border border-dark user_table" >
			<div style="">
				<div class="row">
					<div class="col">
						<h5>Audit Logs</h5>
					</div>
				</div>
				<hr style="margin-top:2px">
				<div class="input-group mb-3">
				  <span class="input-group-text">
				  	<input type="date" data-placeholder="Date of birth" placeholder="Date" class="datepicker" id="from-date" name="audit-datepicker1"></span>
				  	<span class="input-group-text">
					<input type="date" class="datepicker" id="to-date" name="audit-datepicker2"></span>
				  <input type="text" class="form-control audit-search" id="search-text" aria-describedby="basic-addon3" placeholder="Search input">
				  <button class="btn btn-outline-secondary" id="search" type="button">Search</button>
				</div>
			</div>
			
			<hr>
			<div id="results" style="max-height: 50vh; overflow: scroll;">
				 <table class="table table-hover table-responsive week_t mh-80">
				<thead class="thead">
					<tr>
						<th scope="col">When</th>
						<th scope="col">Who</th>
						<th scope="col">What</th>
					</tr>
				</thead>
				<tbody>
					{% for audit in audit %}
					<tr>
						<td>{{ audit.timestamp}}</td>
						<td>{{ audit.user | convert_markdown | safe}}</td>
						<td>{{ audit.action | convert_markdown | safe}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
			
		</div>
	</div>
</div>
<script type="text/javascript">

	$(document).ready(function(){


	})
	$('#search').on('click', function(e) {
		e.preventDefault();
		console.log($('#from-date').val())
		$.ajax({
			type: 'POST',
			url: '/audit/',
			data: {
				from: $('#from-date').val(),
				to: $('#to-date').val(),
				search: $('#search-text').val(),
				csrfmiddlewaretoken: '{{csrf_token}}',
			},
			success: function(data) {
				$('#results').html(data);
			}
		})
	})
</script>

{% endblock %}