<!DOCTYPE html>
<html>
{% load static %}

<body >
	<div class="container-md" style="background-image: url({% static 'overview.png' %}); background-size: 50%; background-repeat:no-repeat; background-position: center;">

		<div class="gap-3" style="margin: auto;">
			<div class="row">
				<div class="col p-2 mx-auto">
					<div class="row home-bg">
						<div class="row">
							<div class="col">
								<h6>Overall Weeks progress</h6>
								<div class="progress" style="background-color: white;">
								  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{onb.progress}}%;">{{onb.progress}}</div>
								</div>
							</div>
							<figcaption class="blockquote-footer">
							  Calculated average progress of <cite title="Source Title">all weeks</cite>
							</figcaption>
						</div>
					</div>
					<div class="row home-bg" style="max-height: 400px;">
						<div class="col">
							<h6 style="margin-bottom: 10px;">Week wise progress</h6><hr style="margin: 2px;">
							<table class="table align-middle table-responsive table-hover" >
								<tbody>
									{% if nh_week %}
									{% for nh_week in nh_week %}
									<tr class='clickable-row'>
										<td>
											<small class="">Week {{ nh_week.weekid }} - {{ nh_week.weektitle }}</small>
											<div class="progress" style="background-color: white;">
											  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{nh_week.status}}%;">{{nh_week.status}}</div>
											</div>
										</td>
										<td style="	color: #154e8d;">
											<center>
											<button class="btn btn-outline-secondary btn-sm back-overview" onclick="week_content({{ nh_week.weekid }})" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" >
												&#10095;</button>

											</center>
										</td>
									</tr>
									{% endfor %}
									{% else %}
									<tr><td>
										<div class="overlay">
										  <div class="text">No Weeks Found</div>
										</div>
									</td></tr>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="row home-bg" style="max-height: 400px;">
						<div class="col">
							<h6 style="margin-bottom: 10px;">Access Requests</h6><hr style="margin: 2px;">
					  		{% for tab in tabs %}
					  		<div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 10px;">
					  		  <div class="accordion-item">
					  		    <h2 class="accordion-header" id="flush-headingOne">
					  		      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{ tab.name }}" aria-expanded="false" aria-controls="flush-{{ tab.name }}" style="clear: both; height: 30px;">
					  		        {{ tab.name }} &nbsp;
					  		        <small class="text-muted">[Approved - {{tab.approved}}/{{tab.item_count}}]</small>
					  		      </button>
					  		    </h2>
					  		    <div id="flush-{{ tab.name }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
					  		      <div class="accordion-body" style="padding: 0.25rem 1.25rem;">
					  		        
					  		      	<table class="table table-sm table-responsive table-hover" style="vertical-align: middle; margin-bottom: 0px;">
					  		      	  <tbody>
					  		  			{% for item in items %}
					  		  			{% if item.newhire_access_section.name == tab.name %}
					  		      	    <tr>
				  		      	          <td><small class="text-muted">{{ item.name }}</small></td>
				  		      	          <td class="col-sm-3">
				  		      	          	{% if item.status == 'Approved' %}
				  		      	          	<small  style="color: green;">{{ item.status }}</small>
				  		      	          	{% elif item.status == 'Requested' %}
				  		      	          	<small style="color: orange;">{{ item.status }}</small>
				  		      	          	{% else %}
				  		      	          	<small  style="color: red;">{{ item.status }}</small>
				  		      	          	{% endif %}
				  		      	          </td>
				  		      	        </tr>
				  		      	        {% endif %}
				  		      	  		{% endfor %}
					  		      	    </tbody>
					  		      	</table>
					  		      </div>
					  		    </div>
					  		  </div>
					  		</div>
					  		{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-4 p-2">
					<div class="row home-bg">
						<div class="row" style="margin-bottom: 10px;">
							<strong id="demo"></strong> 
							<small class="text-muted" id="demo-a"></small>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<table class="table table-borderless table-sm table-responsive">
									<tbody>
										<tr>
											<td><b>Trail Guide</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.trailguide %}
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td><b>Onboarding Buddy</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.onboardingbuddy %}
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td><b>Manager</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.the_manager %}	
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
	
					</div>
					<!--<div class="row home-bg" style="max-height: 225px">
						<strong>{{prof.profile.firstname}}'s Targets</strong>
						<div style="margin-top: 10px;">
							<div class="progress" >
							  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ nh_t_progress }}%">{{nh_t_progress}}</div>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col">
								<table class="table table-borderless table-sm table-hover table-responsive">
									<tbody>
										{% if nh_targets %}
										{% for nh_targets in nh_targets %}
										<tr>
											<td>{{ nh_targets.target }}</td>
											{% if nh_targets.status == True %}
											<td><input class="form-check-input" type="checkbox" id="flexCheckDefault" checked disabled></td>
											{% else %}
											<td><input class="form-check-input" type="checkbox" id="flexCheckDefault" disabled></td>
											{% endif %}
										</tr>
										{% endfor %}
										{% else %}
										<tr><td colspan="2">
											<div class="overlay">
											  <div class="text">No Targets Found</div>
											</div>
										</td></tr>
										{% endif %}
									</tbody>
								</table>
							</div>

						</div>
					</div>-->
					<div class="row home-bg" style="max-height: 300px">
						<div style="margin-bottom: 10px;">
							<strong>Resources</strong> 										
							<button class="btn btn-outline-secondary btn-sm" style="float: right; margin-right: 5%; width: 100px;" data-bs-toggle="modal" data-bs-target="#new_link_Modal"  data-bs-toggle="modal">New</button>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<table class="table table-borderless table-sm table-hover table-responsive">
									<tbody>
										{% if resources %}
										{% for res in resources %}
										<tr>
											<td style="width: 90%;"><a href="{{res.value}}" target="_blank">{{res.title}}</a></td>
											<td style="width: 10% ;">
												<a href="" class="fa fa-duotone fa-pen" onclick="return edit_res('{{res.title}}', '{{res.value}}');" data-bs-toggle="modal" data-bs-target="#new_link_Modal">		
												</a>
											</td>
											<td style="width: 10%;"><a href="#" class="far fa-trash-alt del_res"></a></td>
										</tr>
										{% endfor %}
										{% else %}
										<tr>
											<td><small class="text-muted">No resources added yet!</small></td>
										</tr>
										{% endif %}

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	
</body>
	<script>
	sd = "{{prof.profile.startdate|date:'M d, Y'}}";
	cd = "{{prof.profile.enddate|date:'M d, Y'}}";

	var countDownDate = new Date(cd).getTime();
	var startDate = new Date(sd).getTime();

	var secondsInADay = 60 * 60 * 1000 * 24,
	    secondsInAHour = 60 * 60 * 1000;

	$(document).ready(function() {

		$(".progress-bar").addClass();
		$(".progress-bar").addClass("progress-bar-animated");

		$(".fa-home").addClass("active");

	  	var period = Math.floor(((countDownDate - startDate)/ (secondsInADay) * 1) + 1);

	  	var now = new Date().getTime();

	  	var left = Math.floor(((countDownDate - now)/ (secondsInADay) * 1) + 1);

	  	var current = (period - left);
	  	if (current>0 && current<=period) {
	  		document.getElementById("demo").innerHTML = "Day " + (current) + " of " + (period) ;
	  		document.getElementById("demo-a").innerHTML = "Onboarding ends on " + cd ;
	  	}
	  	else if (current < 0) {
	  		document.getElementById("demo").innerHTML = "Onboarding starts on " + cd;
	  	}
	  	else {
	  		document.getElementById("demo").innerHTML = "Onboarding ended on " + cd;
	  	}


	});
	$('#nh_content').on("load",function(){
	  $(".load").fadeOut("slow");
	});
	</script>
</html>