<!DOCTYPE html>
<html>
<body>
		
	<style type="text/css">
		.week_t tr td:nth-child(3), tr th:nth-child(3), td:nth-child(4), tr th:nth-child(4) {
			text-align: center;
		}
		.week_t tr td:nth-child(5) {
			max-width: 30px
		}
	</style>

	<div id="weekstable" class="container-md" style="display: solid;">
		<div class="row border" style="padding: 10px;">
			<div class="col border border-dark user_table">
				<div class="row">
					<div class="col">
						<h5>Weekly Plan</h5>
					</div>
				</div>

				<table class="table table-hover table-responsive week_t">
					<thead class="thead">
						<tr>
							<th scope="col">Week #</th>
							<th scope="col">Title</th>
							<th scope="col">Action</th>
							<th scope="col">Completed</th>
						</tr>
					</thead>
					<tbody>
					{% if week_data %}
					{% for week_data in week_data %}
						<tr>
							<td>{{week_data.weekid}}</td>
							<td>{{week_data.weektitle}}</td>
							<td><a href="javascript:week_content({{ week_data.weekid }})" class="far fa-eye" style="text-decoration:none;" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Explore"></a></td>
							<td>{{ week_data.status }}%</td>
							<td class="del_row" style="display: none;">
								<div class="del_week">
									<a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove"><i class="far fa-trash-alt"></i></a>
								</div>
							</td>
						</tr>
					{% endfor %}
					{% else %}
						<tr><td colspan="5">
							<div class="overlay">
							  <div class="text">No Plan Found</div>
							</div>
						</td></tr>
					{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
	    <div class="toast border-0 position-fixed top-0 toast-bg" data-bs-delay="1500" role="alert" aria-live="assertive" aria-atomic="true" style="opacity: 1 !important;">
		    <div class="d-flex">
			    <div class="toast-body">
			      
			    </div>
		    	<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		    </div>
	    </div>
	</div>

</body>

</html>