{% extends 'base.html' %}

{% block content %}

	<div class="container-md home-content">
		<h4>Welcome Back, {{ user.profile.firstname }}!</h4>
	</div>
	<div class="container-md border rounded">
		<div class="row border rounded">
			<div class="col-md-8">
				<h5>Here's your activity summary:</h5>
			</div>
		</div>
		<div class="row border rounded">
			<div class="col-md-8 border">
				<h5>Hello</h5>
			</div>
			<div class="col-md-4 border">
				<h5>Helloo</h5>
				<h5>Hello</h5>
			</div>
		</div>
	</div>

{% endblock %}