{% extends 'base.html' %}

{% block content %}

{% load static %}
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
{% if user.profile.phone == '' %}

<center>
	<div class="alert alert-danger d-flex align-items-center" role="alert" style="width: 75%; margin-top: 40px;">
	  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
	  <div>
	    It seems like you haven't updated your phone number on your account yet. Please navigate to your profile settings or <a href="/profile/" class="alert-link">click here</a> to update now.
	  </div>
	</div>
</center>

{% endif %}
	<div class="container-md home-content">
		<div class="row">
			<div class="col">
				<img class="salesforce" src="{% static 'sf_heroku.png' %}" style="max-height: 160px; filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2)); " alt="My image"/>
				<blockquote class="blockquote">
					<p class="h5 welcome-font text-muted"><strong>Welcome Back, {{ user.profile.firstname }}!</strong></p>		
				</blockquote>
			</div>
			<hr>

		</div>
	</div>
	<div class="container-md">
		<div class="">
			<div class="col-md-8">
				<h4>
					Your Onboarding
				  	<small class="text-muted">Summary</small>
				</h4>
			</div>
		</div>
		<div class="gap-3" style="margin: auto;">
			<div class="row">
				<div class="col p-2 mx-auto">
					<div class="row home-bg">
						<div class="row">
							<div class="col">
								<h6>Overall Weeks progress</h6>
								<div class="progress" style="background-color: white;">
								  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{onb.progress}}%;">{{onb.progress}}</div>
								</div>
							</div>
							<figcaption class="blockquote-footer">
							  Calculated average progress of <cite title="Source Title">all weeks</cite>
							</figcaption>
						</div>
					</div>
					<div class="row home-bg" style="max-height: 400px;">
						<div class="col">
							<h6 style="margin-bottom: 10px;">Week wise progress</h6><hr style="margin: 2px;">
							<table class="table align-middle table-responsive table-hover" >
								<tbody>
									{% if nh_week %}
									{% for nh_week in nh_week %}
									<tr class='clickable-row'>
										<td>
											<small class="">Week {{ nh_week.weekid }} - {{ nh_week.weektitle }}</small>
											<div class="progress" style="background-color: white;">
											  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{nh_week.status}}%;">{{nh_week.status}}</div>
											</div>
										</td>
										<td style="	color: #154e8d;">
											<center>
											<button class="btn btn-outline-secondary btn-sm back-overview week_open" onclick="location.href='{% url 'content' nh_week.weekid %}'">
												&#10095;</button>
											</center>
										</td>
									</tr>
									{% endfor %}
									{% else %}
									<tr><td>
										<div class="overlay">
										  <div class="text">No Weeks Found</div>
										</div>
									</td></tr>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
						<div class="row home-bg" style="max-height: 400px;">
							<div class="col">
								<h6 style="margin-bottom: 10px;">Access Requests</h6><hr style="margin: 2px;">
						  		{% for tab in tabs %}
						  		<div class="accordion accordion-flush" id="accordionFlushExample" style="margin-top: 10px;">
						  		  <div class="accordion-item">
						  		    <h2 class="accordion-header" id="flush-headingOne">
						  		      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-{{ tab.name }}" aria-expanded="false" aria-controls="flush-{{ tab.name }}" style="clear: both; height: 30px;">
						  		        {{ tab.name }} &nbsp;
						  		        <small class="text-muted">[Approved - {{tab.approved}}/{{tab.item_count}}]</small>
						  		      </button>
						  		    </h2>
						  		    <div id="flush-{{ tab.name }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
						  		      <div class="accordion-body" style="padding: 0.25rem 1.25rem;">
						  		        
						  		      	<table class="table table-sm table-responsive table-hover" style="vertical-align: middle; margin-bottom: 0px;">
						  		      	  <tbody>
						  		  			{% for item in items %}
						  		  			{% if item.newhire_access_section.name == tab.name %}
						  		      	    <tr>
					  		      	          <td><small class="text-muted">{{ item.name }}</small></td>
					  		      	          <td class="col-sm-3">
					  		      	          	{% if item.status == 'Approved' %}
					  		      	          	<small  style="color: green;">{{ item.status }}</small>
					  		      	          	{% elif item.status == 'Requested' %}
					  		      	          	<small style="color: orange;">{{ item.status }}</small>
					  		      	          	{% else %}
					  		      	          	<small  style="color: red;">{{ item.status }}</small>
					  		      	          	{% endif %}
					  		      	          </td>
					  		      	        </tr>
					  		      	        {% endif %}
					  		      	  		{% endfor %}
						  		      	    </tbody>
						  		      	</table>
						  		      </div>
						  		    </div>
						  		  </div>
						  		</div>
						  		{% endfor %}
							</div>
						</div>
				</div>

				<div class="col-md-4 p-2">
					<div class="row home-bg">
						<div class="row" style="margin-bottom: 10px;">
							<strong id="demo"></strong> 
							<small class="text-muted" id="demo-a"></small>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<table class="table table-borderless table-sm table-responsive">
									<tbody>
										<tr>
											<td><b>Trail Guide</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.trailguide %}
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td><b>Onboarding Buddy</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.onboardingbuddy %}
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td><b>Manager</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.the_manager %}	
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
	
					</div>

					<!--
					<div class="row home-bg" style="max-height: 225px">
						<strong>Your Targets</strong>
						<div style="margin-top: 10px;">
							<div class="progress" >
							  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ nh_t_progress }}%">{{nh_t_progress}}</div>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col">
								<table class="table table-borderless table-sm table-hover table-responsive">
									<tbody>
										{% if nh_targets %}
										{% for nh_targets in nh_targets %}
										<tr>
											<td>{{ nh_targets.target }}</td>
											{% if nh_targets.status == True %}
											<td><input class="form-check-input" type="checkbox" id="flexCheckDefault" checked disabled></td>
											{% else %}
											<td><input class="form-check-input" type="checkbox" id="flexCheckDefault" disabled></td>
											{% endif %}
										</tr>
										{% endfor %}
										{% else %}
										<tr><td colspan="2">
											<div class="overlay">
											  <div class="text">No Targets Found</div>
											</div>
										</td></tr>
										{% endif %}
									</tbody>
								</table>
							</div>

						</div>
					</div>-->
					<div class="row home-bg" style="max-height: 300px">
						<div style="margin-bottom: 10px;">
							<strong>Resources</strong> 										
							<button class="btn btn-outline-secondary btn-sm" style="float: right; margin-right: 5%; width: 100px;" data-bs-toggle="modal" data-bs-target="#new_link_Modal">New</button>
							<div class="modal fade" id="new_link_Modal" tabindex="-1" aria-labelledby="newlinkModalLabel" aria-hidden="true" >
							  <div class="modal-dialog modal-lg">
							    <div class="modal-content">
							    	<form id="form" method="POST">
								      <div class="modal-header">
								        <h5 class="modal-title" id="newlinkModalLabel">New Resource</h5>
								        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								      </div>
								      <div class="modal-body row g-3 justify-content-center">
							      			<div class="col-sm-9">
								      		  	<input type="text" id="res_key" class="form-control" placeholder="Title" aria-label="Title" required>
							      			</div>
								      	  	<div class="col-sm-9">
								      	  	  	<input type="text" id="res_val" class="form-control" placeholder="Value" aria-label="Value" required>
								      	  	</div>
								      </div>
								      <div class="modal-footer">
								      	<button class="btn  btn-outline-secondary" class="btn btn-outline-secondary btn-sm back-overview" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">&laquo; Back</button>
								        <input type="submit" class="btn btn-outline-primary create-res" value="Save"></button>

								      </div>
							    	</form>
							      
							    </div>
							  </div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col">
							<table class="table table-borderless table-sm table-hover table-responsive">
								<tbody>
									{% if resources %}
									{% for res in resources %}
											<tr>
											<td style="width: 90%;"><a href="{{res.value}}" target="_blank">{{res.title}}</a></td>
											<td style="width: 10% ;">
												<a href="" class="fa fa-duotone fa-pen" onclick="return edit_res('{{res.title}}', '{{res.value}}');" data-bs-toggle="modal" data-bs-target="#new_link_Modal">		
												</a>
											</td>
											<td style="width: 10%;"><a href="#" class="far fa-trash-alt del_res"></a></td>
										</tr>
									{% endfor %}
									{% else %}
									<tr>
										<td><small class="text-muted">No resources added yet!</small></td>
									</tr>
									{% endif %}

								</tbody>
							</table>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
	    <div class="toast border-0 position-absolute top-0 toast-bg" data-bs-delay="1500" role="alert" aria-live="assertive" aria-atomic="true" style="opacity: 1 !important;">
		    <div class="d-flex">
			    <div class="toast-body">
			      
			    </div>
		    	<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
		    </div>
	    </div>
	</div>

	
	<script>
	sd = "{{prof.profile.startdate|date:'M d, Y'}}";
	cd = "{{prof.profile.enddate|date:'M d, Y'}}";

	var countDownDate = new Date(cd).getTime();
	var startDate = new Date(sd).getTime();

	var secondsInADay = 60 * 60 * 1000 * 24,
	    secondsInAHour = 60 * 60 * 1000;

	$(document).ready(function() {

		$(".fa-home").addClass("active");

	  	var period = Math.floor(((countDownDate - startDate)/ (secondsInADay) * 1) + 1);

	  	var now = new Date().getTime();

	  	var left = Math.floor(((countDownDate - now)/ (secondsInADay) * 1) + 1);

	  	var current = (period - left);
	  	if (current>0 && current<=period) {
	  		document.getElementById("demo").innerHTML = "Day " + (current) + " of " + (period) ;
	  		document.getElementById("demo-a").innerHTML = "Onboarding ends on " + cd ;
	  	}
	  	else if (current < 0) {
	  		document.getElementById("demo").innerHTML = "Onboarding starts on " + cd;
	  	}
	  	else {
	  		document.getElementById("demo").innerHTML = "Onboarding ended on " + cd;
	  	}


		$('#form').on('submit', function(e) {
			e.preventDefault();

			$.ajax({
				type: 'POST',
				url: 'add_resource/',
				data: {
					key: $('#res_key').val(),
					value: $('#res_val').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function() {
					$('.modal').find('form').trigger('reset');
					$('.modal').modal('hide');
					$('div.toast-body').text('Resource added!');
					var toastElList = [].slice.call(document.querySelectorAll('.toast'))
					var toastList = toastElList.map(function (toastEl) {
						return new bootstrap.Toast(toastEl)
					});
					toastList.forEach(toast => toast.show());
					setTimeout(function() {window.location.reload()}, 900);
				},
				error: function() {
					alert('Adding resource failed!')
				}

			});
		});

	});

	function edit_res(key, value) {
		$('#res_key').val(key);
		$('#res_val').val(value);
	}

	$('.del_res').on('click', function(e) {
		e.preventDefault();

		var row = $(this).closest("tr");
		$.ajax({
			type: 'POST',
			url: 'del_resource/',
			data: {
				key: row.find("td:eq(0)").text(),
				csrfmiddlewaretoken: '{{ csrf_token }}',
			},
			success: function(){ 
				$('div.toast-body').text('Resource Deleted!');
				var toastElList = [].slice.call(document.querySelectorAll('.toast'))
				var toastList = toastElList.map(function (toastEl) {
					return new bootstrap.Toast(toastEl)
				});
				toastList.forEach(toast => toast.show());
				setTimeout(function() {window.location.reload()}, 900);
			},
			error: function() {
				alert('Deleting resource failed!')
			}
		});

		function week_content(id){
			var nh_name = $('#onbModalLabel').text();
			$.ajax({
				type: 'POST',
				url: 'check_content/',
				data: {
					name: $('#onbModalLabel').text(),
					week_id: id,
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function(data) {
					$('#onbModalLabel-1').text(nh_name);
					$('#modal_body-1').html(data);
				}
			});
		};
	})
	</script>

{% endblock %}