{% extends 'base.html' %}

{% block content %}
{% load markdown_extras %}

{% load static %}

	<div class="container-md home-content">
		<div class="row">
			<div class="col">
				<img class="salesforce" src="{% static 'sf_heroku.png' %}" style="max-height: 160px; filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2)); " alt="My image"/>
				<blockquote class="blockquote">
					<p class="h5 welcome-font text-muted"><strong>Welcome Back, {{ user.profile.firstname }}!</strong></p>		
				</blockquote>
			</div>
			<hr>

		</div>
	</div>
	<div class="container-md">
		<div class="">
			<div class="col-md-8">
				<h4>
					Your Onboarding
				  	<small class="text-muted">Summary</small>
				</h4>
			</div>
		</div>
		<div class="gap-3" style="margin: auto;">
			<div class="row">
				<div class="col p-2 mx-auto">
					<div class="row home-bg">
						<div class="row">
							<div class="col">
								<h6>Overall Weeks progress</h6>
								<div class="progress" style="background-color: white;">
								  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{onb.progress}}%;">{{onb.progress}}</div>
								</div>
							</div>
							<figcaption class="blockquote-footer">
							  This is your progress of <cite title="Source Title">all weeks</cite>
							</figcaption>
						</div>
					</div>
					<div class="row home-bg" style="max-height: 300px;">
						<div class="col">
							<h6 style="margin-bottom: 10px;">Week wise progress</h6>
							<table class="table table-borderless table-responsive">
								<tbody>
									{% if nh_week %}
									{% for nh_week in nh_week %}
									<tr>
										<td>
											<small class="">Week {{ nh_week.weekid }} - {{ nh_week.weektitle }}</small>
											<div class="progress" style="background-color: white;">
											  <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{nh_week.status}}%;">{{nh_week.status}}</div>
											</div>
										</td>
									</tr>
									{% endfor %}
									{% else %}
									<tr><td>
										<div class="overlay">
										  <div class="text">No Weeks Found</div>
										</div>
									</td></tr>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-4 p-2">
					<div class="row home-bg">
						<div class="row" style="margin-bottom: 10px;">
							<strong id="demo"></strong> 
							<small class="text-muted" id="demo-a"></small>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<table class="table table-borderless table-sm table-responsive">
									<tbody>
										<tr>
											<td><b>Trail Guide</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.trailguide %}
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td><b>Onboarding Buddy</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.onboardingbuddy %}
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td><b>Manager</b></td>
											{% for usr in usr %}
											{% if usr.username == onb.the_manager %}	
											<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
											{% endif %}
											{% endfor %}
										</tr>
									</tbody>
								</table>
							</div>
						</div>
	
					</div>

					<!--
					<div class="row home-bg" style="max-height: 225px">
						<strong>Your Targets</strong>
						<div style="margin-top: 10px;">
							<div class="progress" >
							  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ nh_t_progress }}%">{{nh_t_progress}}</div>
							</div>
						</div>
						<div class="row" style="margin-top: 10px;">
							<div class="col">
								<table class="table table-borderless table-sm table-hover table-responsive">
									<tbody>
										{% if nh_targets %}
										{% for nh_targets in nh_targets %}
										<tr>
											<td>{{ nh_targets.target }}</td>
											{% if nh_targets.status == True %}
											<td><input class="form-check-input" type="checkbox" id="flexCheckDefault" checked disabled></td>
											{% else %}
											<td><input class="form-check-input" type="checkbox" id="flexCheckDefault" disabled></td>
											{% endif %}
										</tr>
										{% endfor %}
										{% else %}
										<tr><td colspan="2">
											<div class="overlay">
											  <div class="text">No Targets Found</div>
											</div>
										</td></tr>
										{% endif %}
									</tbody>
								</table>
							</div>

						</div>
					</div>-->
					<div class="row home-bg" style="max-height: 225px">
						<div style="margin-bottom: 10px;">
							<strong>Resources</strong>
						</div>
						<hr>
						<div class="row">
							<div class="col">
								<table class="table table-borderless table-sm table-hover table-responsive">
									<tbody>
										<tr>
											<td><a href="">Onboarding Queries</a></td>
											<td><a href="" class="fa fa-duotone fa-pen"></a></td>
											<td><a href="" class="far fa-trash-alt"></a></td>
										</tr>
									</tbody>
								</table>
								<center><button class="btn btn-outline-secondary btn-sm">New</button></center>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
	sd = "{{prof.profile.startdate|date:'M d, Y'}}";
	cd = "{{prof.profile.enddate|date:'M d, Y'}}";

	var countDownDate = new Date(cd).getTime();
	var startDate = new Date(sd).getTime();

	var secondsInADay = 60 * 60 * 1000 * 24,
	    secondsInAHour = 60 * 60 * 1000;

	$(document).ready(function() {

		$(".fa-home").addClass("active");

	  	var period = Math.floor(((countDownDate - startDate)/ (secondsInADay) * 1) + 1);

	  	var now = new Date().getTime();

	  	var left = Math.floor(((countDownDate - now)/ (secondsInADay) * 1) + 1);

	  	var current = (period - left);
	  	if (current<=period) {
	  		document.getElementById("demo").innerHTML = "Day " + (current) + " of " + (period) ;
	  		document.getElementById("demo-a").innerHTML = "Onboarding ends on " + cd ;
	  	}
	  	else {
	  		document.getElementById("demo").innerHTML = "Onboarding ended on " + cd;
	  	}


/*	  	console.log(period);
	  	console.log(left);
	  	console.log(now);
	  	console.log(current);
	  	console.log(countDownDate);
*/	    
	});
	</script>

{% endblock %}