<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Support Onboarding - Login</title>
	<link rel="icon" href="{% static '/salesforce_logo.png' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static '/base.css' %}">

</head>

<body>
	<img src="/static/assets/images/themes/classic/banner-user-default.png" style="width: 100%; top: 0;  z-index: -1; ">
	<center>
	<div class="col container-md" style="transform: scale(1.0);">
		<div class="row title">
			<img src="{% static '/sf_heroku.png' %}" style=" width: 25%; margin-left: auto; margin-right: auto; display: block;" alt="My image"/>
			<h5 class="text-muted">New Hires - Onboarding</h5>
		</div>
		<div class="row login">
			<h2 style="margin-top: 20px; margin-bottom: 20px;">Login</h2>
			<form method="POST" action="/authenticate/">
				{% csrf_token %}
				<input type="text" type="text" class="form-control login-input" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="username" autofocus>
				<br>
				<input type="password" class="form-control login-input" id="inputPassword2" placeholder="Password" name="password">
				<br>
				<input type="submit" class="btn btn-outline-primary bg-gradient bg-opacity-10" name="submit" style="width: 100px;">
			</form>
			<center>
			<div class="container-md">
				<br>
				{% if messages %}
					{% for message in messages %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
				  		<strong>{{ message }}</strong>
				  		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% endfor %}
				{% endif %}
				<br>
			</div>
			</center>
		</div>
		<br>
		<button class="btn btn-outline-secondary btn-sm" onclick="location.href='/reset_password/'">Forgot Password?</button>
	</div>
</center>
<img src="/static/PR-Landscape-lockups-small-3D-astro-002-8000x1600.png" style="width: 100%; bottom: 0; position: fixed; z-index: -1;">
	<!--<div><h1>Hey Sripad Kulkarni :wave:</h1></div>-->
</body>

</html>