{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load markdown_extras %}

	<div class="modal fade" id="onbModal" tabindex="-1" aria-labelledby="onbModalLabel" aria-hidden="true" style="background-color: rgba(219, 232, 255, 0.3)!important;">
	  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
	    <div class="modal-content" style="background-color: rgba(219, 232, 255, 0.8)!important;">
	      <div class="modal-header" style="border-bottom-color: #a7bac7;">
	      	<div class="col-md-8">
	      		<h4>
	      			<h5 class="modal-title" id="onbModalLabel" style="display: inline;"> </h5> 
	      		  	<small class="text-muted">'s Onboarding Summary</small>
	      		</h4>
	      	</div>
	        <h5 class="modal-title" id="onbModalLabel"> </h5>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body" id="modal_body">

	      </div>
	      <div class="modal-footer" style="border-top-color: #a7bac7;">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container-md home-content">
		<div class="row">
			<div class="col">
				<img class="salesforce" src="{% static 'sf_heroku.png' %}" style="max-height: 160px; filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.2)); " alt="My image"/>
				<blockquote class="blockquote">
					<p class="h5 welcome-font text-muted"><strong>Welcome Back, {{ user.profile.firstname }}!</strong></p>		
				</blockquote>
			</div>
			<hr>
		</div>
	</div>

	<div class="container-md">
		<div class="">
			<div class="col-md-8">
				<h4>
					Onboarding 
				  	<small class="text-muted">Live&nbsp;</small>
				  	<img src="{% static '/green_led_2.png' %}" style="max-height: 10px;" alt="My image"/>
				</h4>
			</div>
		</div>
		<div class="gap-3" style="margin: auto;">
			<div class="row">
				<div class="col p-2 mx-auto">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
						    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Cards</button>
						    <!--<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Overview</button>-->
						    <!--<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-accesses" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Hire Access Requests</button>-->
						    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-weeks" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Hire Weeks</button>
						    <!--<button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-targets" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New Hire Targets</button>-->
					    </div>
					</nav>
					<div class="tab-content" id="nav-tabContent" >

						<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<br>
							<div class="container-md">
							    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
							    	{% if onb is not none %}
							    		<div>						
			    							<b>No New Hires Yet!</b><br><br>
			    							<small>Please navigate to <a href="/register/">Register Users</a> page create a new hire account!</small>
							    		</div>
							    	{% else %}
							    	{% for u in usr %}
							    	{% for onb in onb %}
							    	{% if u.username == onb.newhire %}
							    	{% if not onb.active %}
							        <div class="col">
							        	<div class="p-3 border bg-card" style="background-image: url({% static 'startup.png' %}); background-size: 100%;">

								      	   <h5>{{u.profile.firstname}} {{u.profile.lastname}}</h5><hr>
										   <table class="table table-borderless table-sm table-responsive">
										   	<tbody>
										   		<tr>
										   			<td><b>Trail Guide</b></td>
										   			{% for usr in usr %}
										   			{% if usr.username == onb.trailguide %}
										   			<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
										   			{% endif %}
										   			{% endfor %}
										   		</tr>
										   		<tr>
										   			<td><b>Onboarding Buddy</b></td>
										   			{% for usr in usr %}
										   			{% if usr.username == onb.onboardingbuddy %}
										   			<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
										   			{% endif %}
										   			{% endfor %}
										   		</tr>
										   		<tr>
										   			<td><b>Manager</b></td>
										   			{% for usr in usr %}
										   			{% if usr.username == onb.the_manager %}	
										   			<td>{{usr.profile.firstname}} {{ usr.profile.lastname }}</td>
										   			{% endif %}
										   			{% endfor %}
										   		</tr>
										   		<tr>
										   			<td><b>Onboarding Start</b></td>
										   			<td>{{u.profile.startdate}}</td>
										   		</tr>
										   		<tr>
										   			<td><b>Onboarding End</b></td>
										   			<td>{{u.profile.enddate}}</td>
										   		</tr>
										   	</tbody>
										   </table>
										   <center>
							
										   	<button class="btn btn-outline-primary btn-sm view-details" data-bs-toggle="modal" data-bs-target="#onbModal">View Details</button></center>

							    		</div>
							    	</div>
							    	{% endif %}
							    	{% endif %}
							    	{% endfor %}
							    	{% endfor %}
							    	{% endif %}
							  </div>
							</div>
							<br>
					  	</div>
						<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" >
							<br>
							<form id="check_form">
							<div class="container" style="max-width: 70%;" style="background-image: url({% static 'overview.png' %}); background-size: 50%; background-repeat:no-repeat; background-position: center;">
								<div class="input-group">
									<select class="form-select" id="newhire">
								    <option  value="" selected disabled hidden>Choose...</option>
								    {% for usr in usr %}
								    {% for onb in onb %}
								    {% if usr.username == onb.newhire %}
								    <option value="{{onb.newhire}}">{{usr.profile.firstname}} {{usr.profile.lastname}}</option>
								    {% endif %}
								    {% endfor %}
								    {% endfor %}
								    </select>
								    <input type="submit" class="btn btn-outline-secondary" value="Check" style="width: 20%;">
							   </div>
							</div>
							</form>
							<br>
							<div class="container-md" id='nh_content'>
								
							</div>
						</div>

						<div class="tab-pane fade" id="nav-accesses" role="tabpanel" aria-labelledby="nav-profile-tab">
							<br>
							<form id="check_accesses">
							<div class="container" style="max-width: 70%;" style="background-image: url({% static 'overview.png' %}); background-size: 50%; background-repeat:no-repeat; background-position: center;">
								<div class="input-group">
									<select class="form-select" id="newhire_accesses">
								    <option  value="" selected disabled hidden>Choose...</option>
								    {% for usr in usr %}
								    {% for onb in onb %}
								    {% if usr.username == onb.newhire %}
								    <option value="{{onb.newhire}}">{{usr.profile.firstname}} {{usr.profile.lastname}}</option>
								    {% endif %}
								    {% endfor %}
								    {% endfor %}
								    </select>
								    <input type="submit" class="btn btn-outline-secondary" value="Check" style="width: 20%;">
							   </div>
							</div>
							</form>
							<br>
							<div class="container-md" id='nh_accessses'>
								
							</div>
						</div>

						<div class="tab-pane fade" id="nav-weeks" role="tabpanel" aria-labelledby="nav-profile-tab">
							<br>
							<form id="check_weeks">
							<div class="container" style="max-width: 70%;" style="background-image: url({% static 'overview.png' %}); background-size: 50%; background-repeat:no-repeat; background-position: center;">
								<div class="input-group">
									<select class="form-select" id="newhire_weeks">
								    <option  value="" selected disabled hidden>Choose...</option>
								    {% for usr in usr %}
								    {% for onb in onb %}
								    {% if usr.username == onb.newhire %}
								    <option value="{{onb.newhire}}">{{usr.profile.firstname}} {{usr.profile.lastname}}</option>
								    {% endif %}
								    {% endfor %}
								    {% endfor %}
								    </select>
								    <input type="submit" class="btn btn-outline-secondary" value="Check" style="width: 20%;">
							   </div>
							</div>
							</form>
							<br>
							<div class="container-md" id='nh_weeks'>
								
							</div>
						</div>

						<div class="tab-pane fade" id="nav-targets" role="tabpanel" aria-labelledby="nav-profile-tab">
							<br>
							<form id="check_targets">
							<div class="container" style="max-width: 70%;" style="background-image: url({% static 'overview.png' %}); background-size: 50%; background-repeat:no-repeat; background-position: center;">
								<div class="input-group">
									<select class="form-select" id="newhire_targets">
								    <option  value="" selected disabled hidden>Choose...</option>
								    {% for usr in usr %}
								    {% for onb in onb %}
								    {% if usr.username == onb.newhire %}
								    <option value="{{onb.newhire}}">{{usr.profile.firstname}} {{usr.profile.lastname}}</option>
								    {% endif %}
								    {% endfor %}
								    {% endfor %}
								    </select>
								    <input type="submit" class="btn btn-outline-secondary" value="Check" style="width: 20%;">
							   </div>
							</div>
							</form>
							<br>
							<div class="container-md" id='nh_targets'>
								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function(){

			$('#check_form').on('submit', function(e) {
				e.preventDefault();

				$.ajax({
					type: 'POST',
					url: 'check_form/',
					data: {
						name: $('#newhire').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function(data) {
						$('#nh_content').html(data);
					}
				})
			});

			$('#check_accesses').on('submit', function(e) {
				e.preventDefault();

				$.ajax({
					type: 'POST',
					url: 'check_accesses/',
					data: {
						name: $('#newhire_accesses').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function(data) {
						$('#nh_accesses').html(data);
					}
				})
			});

			$('#check_weeks').on('submit', function(e) {
				e.preventDefault();

				$.ajax({
					type: 'POST',
					url: 'check_weeks/',
					data: {
						name: $('#newhire_weeks').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function(data) {
						$('#nh_weeks').html(data);
					}
				})
			});

			$('#check_targets').on('submit', function(e) {
				e.preventDefault();

				$.ajax({
					type: 'POST',
					url: 'check_targets/',
					data: {
						name: $('#newhire_targets').val(),
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function(data) {
						$('#nh_targets').html(data);
					}
				})
			});

			$('.view-details').on('click', function(e) {
				e.preventDefault();

				var nh_name = $(this).closest("div").find("h5").text();
				console.log(nh_name);
				$.ajax({
					type:'POST',
					url:'view_details/',
					data: {
						name: nh_name,
						csrfmiddlewaretoken: '{{ csrf_token }}',
					},
					success: function(data) {
						$('#onbModalLabel').text(nh_name);
						$('#modal_body').html(data);
					}
				})
			})

		});

		function week_content(id){

			$.ajax({
				type: 'POST',
				url: 'check_content/',
				data: {
					name: $('#newhire_weeks').val(),
					week_id: id,
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function(data) {
					$('#nh_weeks').html(data);
				}
			});
		};
		
	</script>
{% endblock %}


Hey folks,

Sripad joined Salesforce - Heroku as a college grad, futureforce batch of 2019 that makes him 2.8 years old here. He lives in Hyderabad, India and about 30kms away from our Hyderabad office. 

