{% extends 'base.html' %}

{% block content %}

<div class="container-md prof_page" >
		<div class="row border" style="padding: 10px;">

			<div class="col border border border-dark user_table">
				<div class="row">
					<div class="col"><h5>Your Profile Information</h5></div>
					<div class="col" id="cancel" style="text-align: right; display: none;"><button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cancel"></button></div>
				</div>
				<form id="form">
					<table class="table table-hover table-responsive prof_table">
						<tbody>
						<tr>
							<td>Username</td>
							<td><input type="text" id="username" readonly class="form-control-plaintext" value={{prof.username}}></td>
						</tr>
						<tr>

							<td>Name</td>
							<td>
								<div class="input-group">
								  <input type="text" id="firstname" readonly class="form-control-plaintext" value={{prof.profile.firstname}}>
								  <input type="text" id="lastname" readonly class="form-control-plaintext" value={{prof.profile.lastname}}>
								</div>
							</td>
						</tr>
						<tr>
							<td>Email Id</td>
							<td><input type="text" id="email" readonly class="form-control-plaintext" value={{prof.profile.email}}></td>
						</tr>
						<tr>
							<td>Role</td>
							<td><input type="text" id="role" readonly class="form-control-plaintext" value={{prof.profile.role}}></td>
						</tr>
						<tr>
							<td>Start Date</td>
							<td><input type="text" id="startdate" readonly class="form-control-plaintext" value="{{prof.profile.startdate|date:'M d, Y'}}"}}></td>
						</tr>
						<tr>
							<td>Onboarding Ends</td>
							<td><input type="text" id="enddate" readonly class="form-control-plaintext" value="{{prof.profile.enddate|date:'M d, Y'}}"></td>
						</tr>

						</tbody>
					</table>

					<center><input type="submit" id="submit" class="btn btn-colour btn-sm" value="submit" style="display: none;"></input></center>
					</form>

					<center><input type="submit" id="edit" class="btn btn-colour btn-sm" value="Edit" style="display: block;"></input></center>


			</div>

		</div>
	</div>
	<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
	  <div class="toast border-0 position-absolute top-0 toast-bg" data-bs-delay="1500" role="alert" aria-live="assertive" aria-atomic="true">
	    <div class="d-flex">
	    <div class="toast-body">
	      Your details are successfully updated!
	    </div>
	      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
	    </div>
	  </div>
	</div>


	<script
	  src="https://code.jquery.com/jquery-3.6.0.min.js"
	  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	  crossorigin="anonymous">
	</script>
	<script type="text/javascript">
		$("#edit").on("click", function (e){
			if (this.style.display != 'none') {
				$("#firstname").removeAttr("readonly");
				$("#lastname").removeAttr("readonly");
				this.style.display = 'none';
				document.getElementById('submit').style.display = 'block';
				document.getElementById('cancel').style.display = 'block';
			}
		});
		$("#cancel").on("click", function (e){
			if (this.style.display != 'none') {
				$("#firstname").attr("readonly", true);
				$("#lastname").attr("readonly", true);
				this.style.display = 'none';
				document.getElementById('submit').style.display = 'none';
				document.getElementById('edit').style.display = 'block';
			}
		});
		$(document).on("submit", "#form", function(e){
			e.preventDefault();

			$.ajax({
				type: 'POST',
				url: 'update_profile/',
				data: {
					firstname: $('#firstname').val(),
					lastname: $('#lastname').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function(){ 
					document.getElementById('submit').style.display = 'none';
					document.getElementById('cancel').style.display = 'none';
					document.getElementById('edit').style.display = 'block';
					$("#firstname").attr("readonly", true);
					$("#lastname").attr("readonly", true);
					var toastElList = [].slice.call(document.querySelectorAll('.toast'))
					var toastList = toastElList.map(function (toastEl) {
					  return new bootstrap.Toast(toastEl)
					});
					toastList.forEach(toast => toast.show());
				}
			});
		});
		$(document).ready(function() {
			$(".fas").removeClass("active");
		});


	</script>

{% endblock %}