{% extends 'base.html' %}

{% block content %}

	{% load static %}
<style type="text/css">
	.week_t tr td:nth-child(3), tr th:nth-child(3), td:nth-child(4), tr th:nth-child(4) {
		text-align: center;
	}
	.week_t tr td:nth-child(5) {
		max-width: 30px
	}
</style>

<div id="weekstable" class="container-md reg_page" style="display: solid;">
	<div class="row border" style="padding: 10px;">
		<div class="col border border-dark user_table">
			<div class="row">
				<div class="col">
					<h5>Weekly Plan</h5>
				</div>
				{% if user.profile.role == "MANAGER" or user.is_superuser %}
					<div class="col edit" style="text-align: right; display: block;">
						<button type="button" class="btn-close me-2 m-auto fas fa-tools" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Refactor" ></button>
					</div>
					<div class="cancel col" style="text-align: right; display: none;">
						<button type="button" class="btn-close me-2 m-auto" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cancel"></button>
					</div>
				{% endif %}
			</div>

			<table class="table table-hover table-responsive week_t" >
				<thead class="thead">
					<tr>
						<th scope="col">Week #</th>
						<th scope="col">Title</th>
						
						<th scope="col">
							{% if user.profile.role == "NEW_HIRE" %}
								Completed						
							{% endif %}
						</th>
					</tr>
				</thead>
				<tbody>
				{% if week_data %}
				{% for week_data in week_data %}
				<a href="{% url 'content' week_data.weekid %}">
					<tr class='clickable-row' data-href="{% url 'content' week_data.weekid %}">
						<td>{{week_data.weekid}}</td>
						<td>{{week_data.weektitle}}</td>
						<td>
								{{ week_data.status }}
						</td>
						<td class="del_row" style="display: none;">
							<div class="del_week">
								<a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove"><i class="far fa-trash-alt"></i></a>
							</div>
						</td>
					</tr>
					</a> 
				{% endfor %}
				{% else %}
					<tr><td colspan="5">
						<div class="overlay">
						  <div class="text">No Plan Found</div>
						</div>
					</td></tr>
				{% endif %}
				</tbody>
			</table>

			{% if user.profile.role == "MANAGER" or user.is_superuser %}
				<center><button id="add-week" class="btn btn-colour btn-sm add-week" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display: none;">Add Week</button></center>
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
				    	<div class="modal-content">
				    		<form id="form" method="POST">
		    					<div class="modal-header">
		    						<h5 class="modal-title" id="exampleModalLabel">Add week</h5>
		    						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		    			      	</div>
		    			      	<div class="modal-body row g-3 justify-content-center">
	    			      			<div class="col-sm-2">
		    			      		  	<input type="text" id="week_id" class="form-control" placeholder="Week #" aria-label="Week #" required>
	    			      			</div>
		    			      	  	<div class="col-sm-9">
		    			      	  	  	<input type="text" id="title" class="form-control" placeholder="Title" aria-label="Title" required>
		    			      	  	</div>
		    			      	</div>
		    			      	<div class="modal-footer">
		    			        	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		    			        	<input id="dispose" type="submit" class="btn btn-colour" value="Save changes"></button>
		    			      	</div>
				    		</form>
				    	</div>
				  	</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
    <div class="toast border-0 position-fixed top-0 toast-bg" data-bs-delay="1500" role="alert" aria-live="assertive" aria-atomic="true" style="opacity: 1 !important;">
	    <div class="d-flex">
		    <div class="toast-body">
		      
		    </div>
	    	<button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
	    </div>
    </div>
</div>



<script type="text/javascript">
	$(document).ready(function() {
		$(".fa-calendar-week").addClass("active");
		$("#form").submit(function(e){
			e.preventDefault();

			$.ajax({
				type: 'POST',
				url: 'add_week/',
				data: {
					week_id: $('#week_id').val(),
					title: $('#title').val(),
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function(){ 
					$('.modal').find('form').trigger('reset');
					$('.modal').modal('hide');
					$('div.toast-body').text('Week added successfully!');
					var toastElList = [].slice.call(document.querySelectorAll('.toast'))
					var toastList = toastElList.map(function (toastEl) {
						return new bootstrap.Toast(toastEl)
					});
					toastList.forEach(toast => toast.show());
					setTimeout(function() {window.location.reload()}, 900);
				},
				error: function() {
					alert('Adding week failed!')
				}
			});
		});

		$(".clickable-row").click(function() {
        window.location = $(this).data("href");
    	});
	});

	$(document).on('click','.del_week', function(e) {
		e.preventDefault();
		var row = $(this).closest("tr");
		$.ajax({
			type: 'POST',
			url: 'del_week/',
			data: {
				week_id: row.find("td:eq(0)").text(),
				csrfmiddlewaretoken: '{{ csrf_token }}',
			},
			success: function(){ 
				$('div.toast-body').text('Week Deleted!');
				var toastElList = [].slice.call(document.querySelectorAll('.toast'))
				var toastList = toastElList.map(function (toastEl) {
					return new bootstrap.Toast(toastEl)
				});
				toastList.forEach(toast => toast.show());
				setTimeout(function() {window.location.reload()}, 900);
			},
			error: function() {
				alert('Deleting week failed!')
			}
		});
	});

	$(".edit").on("click", function() {
		this.style.display = 'none';
		$(".cancel").css('display', 'block');
		$(".add-week").css('display', 'block');
		$(".del_row").css('display','block');
	});

	$(".cancel").on("click", function() {
		this.style.display = 'none';
		$(".edit").css('display', 'block');
		$(".add-week").css('display', 'none');
		$(".del_row").css('display','none');

	});
/*
	$(".week_check").on("click", function(e) {

		e.preventDefault();
		var row = $(this).closest("tr");
		$.ajax({
			type:'POST',
			url:'week_check/',
			data: {
				week_id: row.find("td:eq(0)").text(),
				week_check: $(".week_check").is(':checked'),
				csrfmiddlewaretoken: '{{ csrf_token }}',
			},
			success: function(){
				$('div.toast-body').text('Progress updated!');
				var toastElList = [].slice.call(document.querySelectorAll('.toast'))
				var toastList = toastElList.map(function (toastEl) {
				return new bootstrap.Toast(toastEl)
				});
				toastList.forEach(toast => toast.show());
				setTimeout(function() {window.location.reload()}, 900);
			}
		});
	});*/

</script>

{% endblock %}